{% extends "registration/sidebar.html" %}
{%block nav-home%}
    <li>
        <a href="{%url 'postlogin'%}"><span class="fa fa-home mr-3"></span> Homepage</a>
    </li>
{%endblock%}
{%block nav-changepassword%}
    <li class="active">
        <a href="{%url 'changepassword'%}"><span class="fa fa-sticky-note mr-3"></span> change password</a>
    </li>
{%endblock%}

{%block content%}
    <div>
        <form action="" method="post">
            {%csrf_token%}
<!--        <p><h5><b>Username:</b></h5> {{form1.username}}</br></p><hr>-->
<!--        <p><h5><b>First Name:</b></h5> {{form1.first_name}}</br></p><hr>-->
<!--        <p><h5><b>Last Name:</b></h5> {{form1.last_name}}</br></p><hr>-->
<!--        <p><h5><b>Mobile:</b></h5> {{form.mobile}}</br></p><hr>-->
<!--        <p><h5><b>Birthdate:</b></h5> {{form.birthdate}}</br></p><hr>-->
<!--        <p><h5><b>Company:</b></h5> {{form.company}}</br></p><hr>-->
<!--        <p><h5><b>Salary:</b></h5> {{form.salary}}</br></p><hr>-->
<!--        <p><h5><b>Employee ID:</b></h5> {{form.employee_Id}}</br></p><hr>-->
<!--        <p><h5><b>Experience:</b></h5> {{form.experience}}</br></p><hr>-->
           <p><h5><b>Old password:</b></h5> {{form.old_password}}</br></p><hr>
                       <p><h5><b>new Password:</b></h5> {{form.new_password1}}</br></p><hr>
           <p><h5><b>new password confirmation:</b></h5> {{form.new_password2}}</br></p><hr>
                       <p>{{form.errors}}</p>

            <p>
            <input type="Submit" name="submit">
            </p>
            </form>

    </div>
{%endblock%}